:host {
  display: block;
  background-color: #121212; /* Sfondo nero per il componente */
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px;
  background-color: #1c1c1c; /* Sfondo del contenitore principale */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 2.5em;
  color: #fff;
  font-weight: bold;
}

.card {
  background-color: #242424;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.card-header {
  font-size: 1.5em;
  padding: 12px 15px;
}

.card-body {
  padding: 15px;
  color: #e0e0e0;
}

.form-group {
  margin-bottom: 1em;
}

#avatarUpload {
  margin-top: 10px;
}

.btn-primary {
  background-color: #333;
  border: none;
}

.btn-danger {
  background-color: #d11a2a;
  border: none;
}

.avatar-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Sezione Viaggi Prenotati */
.trip-card {
  display: flex;
  justify-content: space-between; /* Distribuisce gli elementi orizzontalmente con spazio tra di loro */
  padding: 15px;
  flex-wrap: wrap; /* Permette agli item di andare a capo su schermi più piccoli */
  align-items: center; /* Centra gli elementi verticalmente */
}

/* Contenitore trip-item per Pianeta, Nave, Tuta */
.trip-item {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; /* Centra il testo */
  padding: 10px;
  width: 30%; /* Imposta la larghezza per ciascun trip-item per allinearsi orizzontalmente */
  height: 100%; /* Assicura che i trip-item occupino tutta l'altezza disponibile */
  justify-content: center; /* Allinea gli elementi verticalmente al centro */
}

.trip-image,
.trip-ship {
  width: 100%;
  max-width: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

/* Modifica solo per l'immagine della tuta */
.trip-suit {
  width: 100%;
  max-width: 60px; /* Riduci la larghezza massima per evitare il taglio */
  
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}


/* Sezione Partenza prevista */
.departure-date {
  width: 100%;
  text-align: center;
  margin-top: 15px; /* Spazio tra i 3 div e la partenza prevista */
  font-weight: bold;
  color: #e0e0e0;
}

.departure-date p {
  font-size: 1.2em;
}





