<div class="admin-dashboard text-center">
    <h1>Amministrazione</h1>
    <p>Benvenuto nella dashboard di amministrazione. Utilizza i collegamenti sottostanti per gestire il contenuto del sito.</p>
    
    <div class="admin-links ">
      <a routerLink="/admin/navicelle" class="admin-link">
        <div class="admin-card">
          <h2>Gestione Navicelle Spaziali</h2>
          <p>Aggiungi, modifica o elimina navicelle spaziali.</p>
        </div>
      </a>
      <a routerLink="/admin/tute" class="admin-link">
        <div class="admin-card">
          <h2>Gestione Tute Spaziali</h2>
          <p>Aggiungi, modifica o elimina tute spaziali.</p>
        </div>
      </a>
      <a routerLink="/admin/date" class="admin-link">
        <div class="admin-card">
          <h2>Gestione Date di Volo</h2>
          <p>Aggiungi, modifica o elimina date di volo disponibili.</p>
        </div>
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
  
