<div class="container-wrapper">
  <img class="moon-background" src="../../../assets/img/LUNA4-Photoroom.png" alt="Moon" />
  <div class="container">
    <div class="d-flex justify-content-center align-items-center pb-5 position-relative">
      <!-- <div>
        <img src="../../../assets/img/LOGO.png" style="width: 170px" alt="logoEpicSpace" />
      </div> -->
      <div class="d-flex justify-content-between align-content-center">
        <div class="mx-2">Scelta Pianeta</div>
        <div class="mx-3"><i class="bi bi-arrow-right"></i></div>
        <div class="mx-2 ">Scelta nave</div>
        <div class="mx-3"><i class="bi bi-arrow-right"></i></div>
        <div class="mx-2 ">Scelta tuta</div>
        <div class="mx-3"><i class="bi bi-arrow-right"></i></div>
        <div class="mx-2 fs-4 fw-bold">Riepilogo</div>
      </div>
      <div class="position-absolute end-0">
        <i class="bi bi-arrow-return-left fs-2" routerLink="/sceltaTuta"></i>
      </div>
    </div>
    <div class="pb-5">
      <h1 class="header">Verso l'infinito ed oltre</h1>
      <p>Seleziona la tua destinazione e preparati al decollo!</p>
    </div>

    <div class="content">
      <div class="summary">
        <h2>Riepilogo delle tue scelte</h2>
        <div class="choices-container">
          <div class="choice-item">
            <p class="fw-bold fs-5 m-0">Pianeta scelto</p>
            <p>{{ choices.planet }}</p>
            <img [src]="choices.planetImg" alt="Pianeta" class="image-planet" *ngIf="choices.planetImg" />
          </div>
          <div class="choice-item">
            <p class="fw-bold fs-5 m-0">Nave scelta</p>
            <p>{{ choices.ship }}</p>
            <img [src]="choices.shipImg" alt="Nave" class="image-ship" *ngIf="choices.shipImg" />
          </div>
          <div class="choice-item">
            <p class="fw-bold fs-5 m-0">Tuta scelta</p>
            <p>{{ choices.suit }}</p>
            <img [src]="choices.suitImg" alt="Tuta" class="image-suit" *ngIf="choices.suitImg" />
          </div>
        </div>
      </div>

      <div class="date-selection">
        <h2>Seleziona Data Disponibile</h2>
        <div class="available-dates">
          <label for="available-date">Data Partenza:</label>
          <select id="available-date" name="available-date" [(ngModel)]="selectedDate" required>
            <option *ngFor="let date of availableDates" [value]="date">{{ date }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-container mt-5 text-black">
      <h1>Acquista Biglietto</h1>
      <form (ngSubmit)="unisciFunzionalita()">
        <div class="form-group">
          <label for="buyer-name">Nome Acquirente:</label>
          <input type="text" id="buyer-name" name="buyer-name" class="form-control" [(ngModel)]="buyerName" required />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" required />
        </div>
        <app-checkout></app-checkout>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="isSubmitting">Acquista</button>
      </form>
    </div>
  </div>
</div>
