<div class="container-wrapper">
  <img
    class="moon-background"
    src="../../../assets/img/LUNA4-Photoroom.png"
    alt="Moon"
  />
  <div class="container">
    <div class="d-flex justify-content-center align-items-center pb-5">
      <div class="d-flex justify-content-between align-content-center">
        <div class="fw-bold fs-3">Scelta Pianeta</div>
    
      </div>
    </div>
    <div class="pb-5">
      <h1 class="header fs-5 fs-md-4 fs-lg-3 ">Verso l'infinito ed oltre</h1>
      <p class="fs-5_5 fs-md-4 fs-lg-3">Seleziona la tua destinazione e preparati al decollo!</p>
    </div>
    <div class="sub-header">
      <div id="planetCarousel" class="carousel slide" #planetCarousel>
        <div class="carousel-inner">
          <div
            class="carousel-item"
            *ngFor="let group of pianetiGroups; let i = index"
            [ngClass]="{ 'active': i === 0 }"
          >
            <div class="d-flex justify-content-around">
              <div
                class="planet d-flex flex-column align-items-center"
                *ngFor="let pianeta of group"
                (click)="selectPlanet(pianeta)"
              >
                <img
                  [src]="pianeta.immagine"
                  [alt]="pianeta.nome"
                  [ngClass]="{
                    'saturno': pianeta.nome === 'saturno',
                    'giove': pianeta.nome === 'giove',
                    'marte': pianeta.nome === 'marte'
                  }"
                />
                <p
                  [ngClass]="{
                    'saturno': pianeta.nome === 'saturno',
                    'giove': pianeta.nome === 'giove',
                    'marte': pianeta.nome === 'marte'
                  }"
                >
                  {{ pianeta.nome | uppercase }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#planetCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon me-4" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#planetCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon ms-4" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="details d-flex justify-content-around">
        <div class="text-start mx-2 fs-6 fs-md-5 fs-lg-3">
          <p class="fs-6 fs-sm-5 fs-md-5 fs-lg-4">Tempo di volo</p>
          <p class="fw-bold fs-6 fs-sm-5 fs-md-5 fs-lg-4">{{ selectedPlanet ? details.flightTime : '' }}</p>
        </div>
        <div class="text-start mx-2 fs-6 fs-md-5 fs-lg-3">
          <p class="fs-6 fs-sm-5 fs-md-5 fs-lg-4 ">Distanza dalla terra</p>
          <p class="fw-bold fs-6 fs-sm-5 fs-md-5 fs-lg-4">{{ selectedPlanet ? details.distance : '' }}</p>
        </div>
        <div class="text-start mx-2 fs-6 fs-md-5 fs-lg-3">
          <p class="fs-6 fs-sm-5 fs-md-5 fs-lg-4 ">Prezzo</p>
          <p class="fw-bold  fs-6 fs-sm-5 fs-md-5 fs-lg-4">{{ selectedPlanet ? details.price : '' }}</p>
        </div>
      </div>
      <div>
        <button class="book-btn" (click)="proceedToNextStep()">
          Scegli navicella <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
