/* You can add global styles to this file, and also import other style files */


@import 'swiper/swiper-bundle.css';
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$utilities: (
    "width": (
      property: width,
      class: w,
      responsive: true,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
    "font-size": (
      property: font-size,
      class: fs,
      rfs: true,
      responsive: true,
      values: (
        1: 2rem, 
        2: 1.75rem,     
        3: 1.5rem,  
        4: 1.25rem,
        5: 1rem,
        5_5: 0.82rem,
        6: 0.75rem    
      )
  )
);

body{
  font-family: "Orbitron", sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
  font-family: "Exo";
}

@import '../node_modules/bootstrap/scss/bootstrap';