<footer class="bg-dark text-white py-4 py-md-4">
  <div class="container px-4 px-md-5">
    <div class="row text-center">
      <div class="col-12 mb-4">
        <a href="#">
          <img class="logo" src="../../../assets/img/LOGO.png" alt="Logo">
        </a>
      </div>
      <div class="col-12 col-md-9 mx-auto">
        <div class="row">
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <h5>Link Rapidi</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">Chi Siamo</a></li>
              <li><a href="#" class="text-white text-decoration-none">Destinazioni</a></li>
              <li><a href="#" class="text-white text-decoration-none">Contatti</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <h5>Social</h5>
            <ul class="list-unstyled">
              <li><a href="https://www.linkedin.com/in/alexandru-ifrim-0a8674300/" target="_blank" class="text-white text-decoration-none">LinkedIn</a></li>
              <li><a href="https://github.com/IfrimAlexandru" target="_blank" class="text-white text-decoration-none">GitHub</a></li>
              <li><a href="#" class="text-white text-decoration-none">Termini di Servizio</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <h5>Altre Risorse</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">Politica sulla Privacy</a></li>
              <li><a href="#" class="text-white text-decoration-none">Supporto</a></li>
              <li><a href="#" class="text-white text-decoration-none">Carriere</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-0 mt-md-2">
        <small class="text-light">&copy; 2024 Epic Space. Tutti i diritti riservati</small>
      </div>
    </div>
  </div>
</footer>
