<body>
	<div class="form-structor">
		<div [ngClass]="{'slide-up': !isLoginActive}" class="signup">
		  <h2 class="form-title m-auto" id="signup" (click)="toggleSlide(false)">Sign up</h2>
		  <div class="form-holder">
			<input type="email" class="input" placeholder="Email" [(ngModel)]="email" />
			<input type="password" class="input" placeholder="Password" [(ngModel)]="password" />
			<input type="text" class="input" placeholder="First Name" [(ngModel)]="nome" />
			<input type="text" class="input" placeholder="Last Name" [(ngModel)]="cognome" />
		  </div>
		  <button class="submit-btn" (click)="onRegister()">Sign up</button>
		</div>
		<div [ngClass]="{'slide-up': isLoginActive}" class="login">
		  <div class="center">
			<h2 class="form-title m-auto" id="login" (click)="toggleSlide(true)">Log in</h2>
			<div class="form-holder">
			  <input type="email" class="input" placeholder="Email" [(ngModel)]="email" />
			  <input type="password" class="input" placeholder="Password" [(ngModel)]="password" />
			</div>
			<button class="submit-btn" (click)="onLogin()">Log in</button>
			<app-google-login></app-google-login>
		  </div>
		</div>
	  </div>
	  

</body>
